# Flutter
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.pub-cache/
.pub/
build/
coverage/
*.iml
*.log
*.g.dart
*.freezed.dart

# Android/iOS
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/android/key.properties
apps/mobile/android/app/debug/
apps/mobile/android/app/profile/
apps/mobile/android/app/release/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Flutter.framework
apps/mobile/ios/Flutter/Flutter.podspec

# Node
node_modules/
**/node_modules/
.env
**/.env
!**/.env.example
services/backend/uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.apk
*.aab
*.ipa
*.app
